services:
  mysql_db:
    image: mysql:8.0
    ports:
      - '3307:3306'
    volumes:
      - ./db/mysql/init:/docker-entrypoint-initdb.d
    restart: always
    environment:
      MYSQL_DATABASE: cinema_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: rootpassword
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_general_ci
